name: Build and deploy Python app to Azure Web App (using Service Principal)
on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository # copy code to ubuntu container -- setup python 3.11
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build (gunicorn check)  # generate artefacts -- code converts into binary file to run
        run: |
          python -c "import pkgutil, sys; assert pkgutil.find_loader('gunicorn')"

      - name: 'Login to Azure using service principal'
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'app-cicd'
          slot-name: 'production'
          package: .